/* App.css */
body {
  font-family: 'Press Start 2P', cursive; /* Pixelated font for retro feel */
  background-color: #000; /* Black background for contrast */
  color: #a2a2a2;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  font-family: monospace;
  padding-left: 50px;
  padding-right: 50px;
}

* {
  border-radius: 9px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 600px;
  margin-top: 20px; /* Align to top with some margin */
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.search-container,
.add-preference-container {
  width: 400px;
  margin-bottom: 20px;
}

input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 3px solid #a2a2a2; /* Matching border color */
  background-color: #000; /* Same as background for consistent look */
  color: #a2a2a2; /* Same as text color for consistency */
  font-family: monospace; /* Ensure input text matches */
}

button {
  background-color: #0056d7;
  color: #000; /* Black text for readability */
  border: none;
  padding: 14px 40px;
  font-family: 'Press Start 2P', cursive; /* Matching font */
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 30px;
  transition: background-color 0.3s ease; /* Smooth hover transition */

}

button:hover {
  background-color: #8daefc;
}

.preferences-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
}

.fade-out {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.fade-out.hidden {
  opacity: 0;
}

.notification {
  height: 10px;
  color: white;
  width: calc(100% - 30px);
  overflow-wrap: break-word;
}