/* NewPreferencePopup.css */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup {
    min-width: 70vw;
    display: flex;
    flex-direction: column;
    
    background-color: #000; /* Black background */
    color: #a2a2a2; 
    border: 3px solid #a2a2a2;
    padding: 20px;
    width: 300px;
    text-align: left;
    font-family: monospace;
  }
  
  .popup input[type="text"] {
    width: 90%;
    border: 3px solid #a2a2a2; 
    background-color: #000; /* Same as background for consistent look */
    color: #a2a2a2;
    font-family: monospace; /* Ensure input text matches */
  }
  
  .popup button {
    background-color: #0056d7; 
    color: #000; /* Black text */
    border: none;
    padding: 10px 20px;
    font-family: 'Press Start 2P', cursive; /* Matching font  */
    cursor: pointer;
    margin-right: 10px; /* Space between buttons */
    margin-left: 10px;
  }
  
  .popup button:hover:enabled {
    background-color: #8daefc;
  }
  
  .error-message {
    height: 20px;
    color: #ffc400; /* Red color for error messages */
    font-family: 'Press Start 2P', cursive; /* Matching font */
    font-size: 12px;
    margin: 10px 0;
  }

  h3 {
    width: calc(70vw - 5px);
    overflow-wrap: break-word;
  }

  .popup button:disabled {
    cursor: default !important;
    background-color: #425166 !important; 
  }