/* Pref.css */
h2 {
  color: #a2a2a2;
}

.pref-card {
  min-width: 370px;
  width: 60vw;
  color: #a2a2a2; 
  padding: 10px;
  margin-bottom: 10px;
  font-family: monospace; /* Pixelated font */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pref-text {
  min-width: 180px;
  max-width:  calc(100% - 260px);
  text-align: left;
  flex-grow: 1;
  margin-right: 10px;
  font-size: large;
  overflow-wrap: break-word;
}

.pref-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 100px;
  min-width: 100px;
  color: #0056d7; 
  text-decoration: none; /* Remove underline */
  border: 2px solid #0056d7; /* Border for link */
  padding: 5px 10px;
  transition: background-color 0.3s ease; /* Smooth hover transition */
  font-family: 'Press Start 2P', cursive; /* Matching font */
}

.pref-link:hover {
  background-color: #8daefc; 
}
